:root { 
--black_900_7f:#0d0f127f; 
--gray_700:#5c4f4f; 
--black_900_01:#0d0f12; 
--blue_gray_200:#a9c2cb; 
--black_900:#020305; 
--white_A700_3f:#ffffff3f; 
--gray_900_7f:#171e277f; 
--gray_900:#171e27; 
--blue_gray_600_cc:#63757ccc; 
--blue_gray_600_66:#63757c66; 
--blue_gray_600_33:#63757c33; 
--white_A700:#ffffff; 
}